.img-box {
  column-count: 4;
  column-gap: 0;
  max-width: 1400px;
  margin: auto;
}

.image {
  max-width: calc(100% - 3px);
  display: block;
  margin: 3px;
}

.image-wrapper {
  display: block;
  opacity: 0.8;
  transition: 0.4s;
  filter: blur(1px);
}

.image-wrapper + .image-wrapper {
  margin: 3px 0;
}

@media all and (min-width: 1024px) {
  .image-wrapper:hover {
    opacity: 1;
    filter: sepia(1.3);
    /*filter: brightness(1.7);*/
    /*filter: grayscale(10);*/
    /*filter: hue-rotate(45deg);*/
  }

  .author:hover {
      border-color: #111;
  }
}

@media all and (max-width: 1024px) {
  .img-box {
    width: 90%;
    column-count: 3;
  }
}

@media all and (max-width: 768px) {
  .img-box {
    width: 100%;
    column-count: 2;
  }
}

@media all and (max-width: 480px) {
  .img-box {
    column-count: 1;
  }
}

.link-wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.author {
    color: #111;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}